*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    background-color: chocolate;
    color: white;
    margin-top: 2px;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;


}

.container label {
    margin-bottom: 10px;
}

.container input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    padding: 20px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#prediksi {
    font-weight: bold;
    margin-top: 20px;
}

.gender {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 25px;

}

.laki {
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 1px solid black
}

.perempuan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
    background-color: #eee5e5;
}


.bulat1 {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    top: 100px;
    background-color: aqua;
}

.layer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.btn-refresh {
    width: 100px;
    height: 40px;
    background-color: cornflowerblue;
    margin-top: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}